.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}/*
input[type="file"] {
    display: none;
}
*/
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
div#load_screen{
	background: #000;
	opacity: 0.9;
	position: fixed;
    z-index:10;
	top: 0px;
	width: 100%;
	height: 1600px;
}
div#load_screen > div#loading{
	color:#FFF;
	width:120px;
	height:24px;
	margin: 300px auto;
}
.card {
    margin-top: 7% !important;
    background-color: #424950 !important;
}
.list-group-item {
    background-color: #40474d;
    color: darkorange !important;
} 
.modal-title {
    color: darkorange !important;
}
.alert {
    margin-top: 3% !important;
}
.modal-body {
background-color: #292828 !important;
color: darkorange !important;
}
.modal-header {
background-color: #444242;
border-bottom: 1px solid #404040;
}
.modal-content {
    background-color: #3c3b3b;
}
.modal-footer {
    border-top: 1px solid #3c3c3c;
}
.form-control {
    color: orange;
    background-color: #25292d;
    border: 1px solid #FF9800;
}
input[type="search"], textarea{

    color: orange !important;
    background-color: #25292d !important;
    border: 1px solid #8c5605 !important;

}
input[type="text"] {

    color: orange !important;
    background-color: #25292d !important;
    border: 1px solid #8c5605 !important;

}
.close {
    color: #fff;
    text-shadow: 0 1px 0 #000;
}
.close:hover {
    color: lightslategray;
    text-shadow: 0 1px 0 #000;
}
input[type="text"][disabled] {
   background-color: #242628;
}
input[type="text"][readonly] {
   background-color: #1b1b1b!important;
}
.btn-outline-warning {
    color: white;
    border-color: #d8860f;
}
.btn-outline-warning:hover {
    color: white;
    border-color: #d8860f;
    background-color: #8c5605;
}
.input-group-addon {
    background-color: #292828;
    border: 1px solid #d88510;
    color: #afb0b1;
}
.btn-outline-success:hover {
    background-color: #1e7732;
}
.btn-outline-success {
    color: white;
}